/*** ESSENTIAL STYLES ***/
/* line 3, _superfish.scss */
.sf-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 7, _superfish.scss */
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 12, _superfish.scss */
.sf-menu li {
  position: relative;
}
/* line 15, _superfish.scss */
.sf-menu li:hover > ul {
  display: block;
}
/* line 20, _superfish.scss */
.sf-menu li.sfHover > ul {
  display: block;
}
/* line 25, _superfish.scss */
.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}
/* line 31, _superfish.scss */
.sf-menu ul ul {
  top: 0;
  left: 100%;
}
/* line 36, _superfish.scss */
.sf-menu a {
  display: block;
  position: relative;
}
/* line 40, _superfish.scss */
.sf-menu > li {
  float: left;
}

/* Demo Style */
/* line 15, superfish.scss */
.sf-menu {
  float: left;
  margin-bottom: 1em;
}
/* line 19, superfish.scss */
.sf-menu li {
  background: #bdd2ff;
  white-space: nowrap;
  *white-space: normal;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  /* Sub Menu Container */
}
/* line 26, superfish.scss */
.sf-menu li:hover, .sf-menu li.sfHover {
  background: #cfdeff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 31, superfish.scss */
.sf-menu li a {
  border-left: 1px solid white;
  border-top: 1px solid #dfeeff;
  padding: .75em 1em;
  text-decoration: none;
  zoom: 1;
  color: #1133aa;
}
/* line 41, superfish.scss */
.sf-menu li ul {
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  min-width: 12em;
  *width: 12em;
}
/* line 45, superfish.scss */
.sf-menu li ul li {
  background: #aabde6;
  /* Second level sub menu */
}
/* line 50, superfish.scss */
.sf-menu li ul li ul li {
  background: #db5343;
}

/* line 60, superfish.scss */
.sf-arrows .sf-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
}
/* line 63, superfish.scss */
.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #dfeeff;
}
/* line 79, superfish.scss */
.sf-arrows > li > .sf-with-ul:focus:after {
  border-top-color: white;
}
/* line 84, superfish.scss */
.sf-arrows > li:hover > .sf-with-ul:after {
  border-top-color: white;
}
/* line 90, superfish.scss */
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: white;
}
/* line 98, superfish.scss */
.sf-arrows ul li > .sf-with-ul:focus:after {
  border-left-color: white;
}
/* line 103, superfish.scss */
.sf-arrows ul li:hover > .sf-with-ul:after {
  border-left-color: white;
}
/* line 108, superfish.scss */
.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #dfeeff;
}
/* line 116, superfish.scss */
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: white;
}
